body {
    display: flex;
    justify-content: center;
}

section {
    background-color: #3662B8;
    width: 565px;
    height: 640px;
    margin-top: 50px;
    border-radius: 10px;
}

.search-container-1 {
    width: 515px;
    height: 93px;
    background-color: #517FD9;
    margin-top: 26px;
    margin-left: 25px;
    border-radius: 5px;
}

.h-1 {
    color:  #85A9F1;
    font-weight: 400;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5rem;
}

.search-container-2 {
    background-color:#14274B;
    color: #9FB8EA;
    width: 515px;
    height: 93px;
    margin-left: 25px;
    border-radius: 5px;



}