body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

section {
    background-color: #3662B8;
    width: 565px;
    height: 640px;
}

.search-container {
    width: 535px;
    background-color: #517FD9;
}