body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

section {
    background-color: #3662B8;
    width: 565px;
    height: 640px;
}

.search-container {
    width: 535px;
    height: 95px;
    background-color: #517FD9;
    margin-top: 15px;
    margin-left: 15px;
}

.h-1 {
    color:  #85A9F1;
    font-weight: 400;
}